<p id="notice"><%= notice %></p>

<h1>Listing Costs</h1>
<%= link_to '新增記錄', new_cost_path , class:'btn btn-success btn-lg'%>
<script>
  $($('.nav li')[<%= params[:tab] %>]).find('a').tab('show')
</script>

    <% (0..11).each do |i| %>
    <div role="tabpanel" class="tab-pane" id="<%= @month_num[i] %>">
    <h2><%= i+1 %>月</h2>
    <table class='table table-hover'>
      <thead>
        <tr>
          <th>日期</th>
          <th>項目</th>
          <th>金額</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% @month_details[i].each do |cost| %>  
         <tr>
            <td><%= cost.buyday %></td>
            <td><%= cost.item %></td>
            <td><%= cost.spendmoney.to_s(:long) %></td>
            <td><%= link_to 'Edit', edit_cost_path(cost) %></td>
            <td><%= link_to 'Destroy', cost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %> 
        </tbody>
          <tr>
            <td colspan="2" style="text-align:right;">總計</td>
            <td><%= @month_costs[i] %></td>
          </tr>
    </table>
  </div>
  <% end %>
  </div>
</div>

<% end %>


